<div>
    <h1 class="text-center fw-bold">Real Time Products</h1>
</div>

<div class="container container-lg border rounded border-2 border-primary">
    <p class="container container-lg fw-semibold mb-3">Nuevo producto</p>
    <form id="form" class="container container-lg mb-3">
        <div class="container mb-3">
            <input id="form-title" type="text" name="title" placeholder="Nombre del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-description" type="text" name="description" placeholder="Descripcion del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-code" type="text" name="code" placeholder="Codigo del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-price" type="number" name="price" placeholder="Precio del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-stock" type="number" name="stock" placeholder="Stock del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-category" type="text" name="category" placeholder="Categoria del producto" required>
        </div>
        <div class="container mb-3">
            <input id="form-thumbnail" type="text" name="thumbnail" placeholder="Ruta de imagen del producto">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Agregar</button>
    </form>
</div>

<div class="container container-lg mt-4">
    <p class="fw-semibold mb-3">Productos</p>
    <div id="productsContainer" class="container d-flex flex-row mb-1">
        {{#each products}}
        <div id={{this._id}} class="card bg-body-secondary border border-black m-4" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text fw-semibold">Precio: $ {{this.price}}</p>
                <button id='{{this._id}}' class="btnDelete btn btn-outline-danger btn-sm">Eliminar</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container mt-5">
    {{#each links}}
    <a class="text-center fs-5 fw-semibold link-primary link-underline-opacity-0 bg-info-subtle rounded p-2 mx-auto"
        href={{this.link}}>{{this.text}}</a>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>